<?php
    include_once (".././classes/simulation_v1.php");
    ?>
<div ng-controller="SideMenu" class="container-fluid">
    <div class="row" style="height: 80px;">
        <div class="col-md-2"><a href="https://www.dnvgl.nl/">
            <img src="app/components/images/dnvlogo.png" style="height: auto; width: 200px;"></a>
        </div>
        <div class="col-md-2" style="height: 100%; display: flex; align-items: center; text-align: center;"></div>

        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: center;">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
            <?php echo $enviroment->getTime() ?>
        </div>

        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: center;">
            <i class="fa fa-thermometer-half fa-2x" aria-hidden="true"></i>
            <?php echo $enviroment->getTemperature() . " " . "°C" ?>
        </div>

        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: center;">

            <?php echo $enviroment->getWindSpeed() ?>
        </div>

        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: center;">
            <i class="fa fa-sun-o fa-2x" aria-hidden="true"></i>
            <?php echo $enviroment->getSolarStrenght() ?>
        </div>
        <div class="col-md-3" style="height: 100%; display: flex; align-items: center; text-align: right;"></div>
        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: right;">
            <i ng-click="toggleLeft()" class="fa fa-bars fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="container-fluid" style="height: 900px;">
    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-3" style="display: flex;"></div>
        <div class="col-md-3" style="display: flex;"></div>
        <div class="col-md-3" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-3" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-8" style="display: flex;"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="CO2 Mitigatie" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-4" style="display: flex;"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Aardgas" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-7"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-10" style="display: flex;"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="left" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Kolencentrale" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-5" style="display: flex;"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<?php echo $consumer->getTotalDemand() ?>'" popover-title="Consument" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-2" style="display: flex;"></div>
        <div class="col-md-2" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Kernenergie" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Energieopslag" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2" style="display: flex;"></div>
        <div class="col-md-4" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Zonnepark" popover-trigger="'mouseenter'"></i>
        </div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-5" style="display: flex;"></div>
        <div class="col-md-2" style="display: flex;">
            <button type="button"><i class="fa fa-play fa-2x" aria-hidden="true"></i></button>
            <button type="button"><i class="fa fa-stop fa-2x" aria-hidden="true"></i></button>
            <button type="button"><i class="fa fa-step-forward fa-2x" aria-hidden="true"></i></button>
            <button type="button"><i class="fa fa-step-backward fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-5" style="display: flex;"></div>
    </div>

</div>

<div ng-controller="SideMenu">
    <section layout="row">
        <md-sidenav class="md-sidenav-right" md-component-id="left">
                <i ng-click="toggleLeft()" class="fa fa-times fa-3x" aria-hidden="true"></i>
            <md-content>
                <p></p>
            </md-content>
        </md-sidenav>
    </section>
</div>
</div>