<div ng-controller="SideMenu" class="container-fluid">
    <div class="row" style="height: 80px;">
        <div class="col-md-2"><a href="https://www.dnvgl.nl/">
            <img src="app/components/images/dnvlogo.png" style="height: auto; width: 200px;"></a>
        </div>
        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: center;">aa</div>
        <div class="col-md-2" style="height: 100%; display: flex; align-items: center; text-align: center;">aa</div>
        <div class="col-md-2" style="height: 100%; display: flex; align-items: center; text-align: center;">aa</div>
        <div class="col-md-2" style="height: 100%; display: flex; align-items: center; text-align: center;">aa</div>
        <div class="col-md-2" style="height: 100%; display: flex; align-items: center; text-align: center;">aa</div>
        <div class="col-md-1" style="height: 100%; display: flex; align-items: center; text-align: right;">
            <i ng-click="toggleLeft()" class="fa fa-bars fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="container-fluid" style="height: 900px;">
    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-3" style="display: flex;"></div>
        <div class="col-md-3" style="display: flex;"></div>
        <div class="col-md-3" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-3" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-12" style="display: flex;"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-8" style="display: flex;">5</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-4" style="display: flex;">6</div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-7"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-10" style="display: flex;">7</div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="left" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-5" style="display: flex;">8</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="bottom" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-2" style="display: flex;"></div>
        <div class="col-md-2" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
        <div class="col-md-2" style="display: flex;"></div>
        <div class="col-md-4" style="display: flex;">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true" popover-placement="top" uib-popover-html="'<b>HTML</b>, <i>inline</i>'" popover-title="Wind kracht" popover-trigger="'mouseenter'"></i>
        </div>
    </div>

    <div class="row" style="height: 10%;">
        <div class="col-md-4" style="display: flex;"></div>
        <div class="col-md-4" style="display: flex;"></div>
        <div class="col-md-4" style="display: flex;"></div>
        <div class="col-md-4" style="display: flex;"></div>
    </div>

</div>
<!--
<div ng-controller="AppCtrl" class="container-fluid">
    <i id=3 ng-click="showAlert($event)" class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
</div>
<!--<div ng-controller="EnergySources">
    <ul ng-repeat="source in EnergySources">
        <li>
            <span>{{source.name}}</span>
            <p>{{source.description}}</p>
        </li>
    </ul>
</div> -->
<div ng-controller="SideMenu">
    <section layout="row">
        <md-sidenav class="md-sidenav-right" md-component-id="left">
                <i ng-click="toggleLeft()" class="fa fa-times fa-3x" aria-hidden="true"></i>
            <md-content>
                <p></p>
            </md-content>
        </md-sidenav>
    </section>
</div>
</div>